@import 'https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script:400,700|Maven+Pro:400,900|Poiret+One';

@import 'https://fonts.googleapis.com/css?family=Cookie|Covered+By+Your+Grace|Handlee';

@import 'https://fonts.googleapis.com/css?family=Alegreya+SC|Alice';

@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700';

body{
	background-color:black;
}
header h1{
font-family: 'Josefin Sans';
color:skyblue
}

.note{
    font-family:'Alice';
    color:indianred
}
.bullets-section{
    font-family:'handlee';
    color:white

}

.title{
    font-family: 'Josefin Sans';
    color:yellow

}

.second-title{
    font-family:'Josefin Sans';
    color:limegreen
}
